Node-Red/.flows_pi2.rsc.kicks-ass.net.json.backup
[{"id":"718e4481.3f4fdc","type":"tab","label":"Power Board 1"},{"id":"1677826b.0f2a1e","type":"mqtt-broker","z":"718e4481.3f4fdc","broker":"10.1.1.9","port":"1883","clientid":"Noed-RED","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"49cc6535.16c7cc","type":"mqtt in","z":"718e4481.3f4fdc","name":"Relay-1","topic":"relays/5c:cf:7f:c3:ad:35/1","qos":"0","broker":"1677826b.0f2a1e","x":130,"y":80,"wires":[["c49891ab.1a0e"]]},{"id":"c49891ab.1a0e","type":"file","z":"718e4481.3f4fdc","name":"relay-1-file","filename":"/tmp/relay-1.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":330,"y":80,"wires":[]},{"id":"3363578e.3cf8e","type":"mqtt in","z":"718e4481.3f4fdc","name":"Relay-2","topic":"relays/5c:cf:7f:c3:ad:35/2","qos":"0","broker":"1677826b.0f2a1e","x":130,"y":140,"wires":[["b2f56e0.63ce69"]]},{"id":"90b048ca.0a2088","type":"mqtt in","z":"718e4481.3f4fdc","name":"Relay-3","topic":"relays/5c:cf:7f:c3:ad:35/3","qos":"0","broker":"1677826b.0f2a1e","x":130,"y":200,"wires":[["12d948ef.175c6f"]]},{"id":"34829b79.cd0c9c","type":"mqtt in","z":"718e4481.3f4fdc","name":"Relay-4","topic":"relays/5c:cf:7f:c3:ad:35/4","qos":"0","broker":"1677826b.0f2a1e","x":130,"y":260,"wires":[["e39c7d25.38f5a"]]},{"id":"b2f56e0.63ce69","type":"file","z":"718e4481.3f4fdc","name":"relay-2-file","filename":"/tmp/relay-2.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":330,"y":140,"wires":[]},{"id":"12d948ef.175c6f","type":"file","z":"718e4481.3f4fdc","name":"relay-3-file","filename":"/tmp/relay-3.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":330,"y":200,"wires":[]},{"id":"e39c7d25.38f5a","type":"file","z":"718e4481.3f4fdc","name":"relay-4-file","filename":"/tmp/relay-4.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":330,"y":260,"wires":[]},{"id":"a55fa7f0.cf17c8","type":"http in","z":"718e4481.3f4fdc","name":"HttpPostRelay-1","url":"/relay1","method":"post","swaggerDoc":"","x":160,"y":340,"wires":[["c740b6ba.47e4e"]]},{"id":"7345b667.63a36","type":"mqtt out","z":"718e4481.3f4fdc","name":"Relay-1-on","topic":"relays/5c:cf:7f:c3:ad:35/1","qos":"0","retain":"true","broker":"1677826b.0f2a1e","x":590,"y":340,"wires":[]},{"id":"c740b6ba.47e4e","type":"function","z":"718e4481.3f4fdc","name":"Relay-1-Turn-On","func":"var state = msg.payload.relay;\nmsg.payload=state;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":340,"wires":[["7345b667.63a36","a278cb5b.2881b8"]]},{"id":"8213068c.b1d5a8","type":"http response","z":"718e4481.3f4fdc","name":"","x":750,"y":280,"wires":[]},{"id":"a278cb5b.2881b8","type":"function","z":"718e4481.3f4fdc","name":"Back","func":"msg.payload=\"<html><body><script>history.go(-1)</script></body></html>\"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":280,"wires":[["8213068c.b1d5a8"]]},{"id":"47c2b248.3f3d24","type":"http in","z":"718e4481.3f4fdc","name":"HttpPostRelay-2","url":"/relay2","method":"post","swaggerDoc":"","x":160,"y":400,"wires":[["48edc96c.a933f8"]]},{"id":"6cfa1b23.234614","type":"http in","z":"718e4481.3f4fdc","name":"HttpPostRelay-3","url":"/relay3","method":"post","swaggerDoc":"","x":160,"y":460,"wires":[["67d8d4dd.23d714"]]},{"id":"48edc96c.a933f8","type":"function","z":"718e4481.3f4fdc","name":"Relay-2-Turn-On","func":"var state = msg.payload.relay;\nmsg.payload=state;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":400,"wires":[["a3ebdd45.91e018","a278cb5b.2881b8"]]},{"id":"67d8d4dd.23d714","type":"function","z":"718e4481.3f4fdc","name":"Relay-3-Turn-On","func":"var state = msg.payload.relay;\nmsg.payload=state;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":460,"wires":[["1d257f26.98caf1","a278cb5b.2881b8"]]},{"id":"56ffeb05.4deb0c","type":"http in","z":"718e4481.3f4fdc","name":"HttpPostRelay-4","url":"/relay4","method":"post","swaggerDoc":"","x":160,"y":520,"wires":[["7d76dbf0.dd45a4"]]},{"id":"7d76dbf0.dd45a4","type":"function","z":"718e4481.3f4fdc","name":"Relay-4-Turn-On","func":"var state = msg.payload.relay;\nmsg.payload=state;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":520,"wires":[["cbe3a097.6cccf8","a278cb5b.2881b8"]]},{"id":"a3ebdd45.91e018","type":"mqtt out","z":"718e4481.3f4fdc","name":"Relay-2-on","topic":"relays/5c:cf:7f:c3:ad:35/2","qos":"0","retain":"true","broker":"1677826b.0f2a1e","x":590,"y":400,"wires":[]},{"id":"1d257f26.98caf1","type":"mqtt out","z":"718e4481.3f4fdc","name":"Relay-3-on","topic":"relays/5c:cf:7f:c3:ad:35/3","qos":"0","retain":"true","broker":"1677826b.0f2a1e","x":590,"y":460,"wires":[]},{"id":"cbe3a097.6cccf8","type":"mqtt out","z":"718e4481.3f4fdc","name":"Relay-4-on","topic":"relays/5c:cf:7f:c3:ad:35/4","qos":"0","retain":"true","broker":"1677826b.0f2a1e","x":590,"y":520,"wires":[]},{"id":"940e3240.2b544","type":"http in","z":"718e4481.3f4fdc","name":"Relay-Status-1","url":"/status1","method":"get","swaggerDoc":"","x":160,"y":600,"wires":[["92e408fb.bd1dc"]]},{"id":"92e408fb.bd1dc","type":"file in","z":"718e4481.3f4fdc","name":"relay-1-read-file","filename":"/tmp/relay-1.txt","format":"utf8","x":380,"y":600,"wires":[["5c9c80e1.2e807"]]},{"id":"e02772df.b7fbd8","type":"http response","z":"718e4481.3f4fdc","name":"","x":750,"y":600,"wires":[]},{"id":"5c9c80e1.2e807","type":"function","z":"718e4481.3f4fdc","name":"relay-led-1","func":"var stat=msg.payload;\n\nif ( stat === \"off\\n\" )\n    msg.payload=\"<http><body><img src='http://10.1.1.9/led-red-black-small.png'></body></html>\";\nelse\n    msg.payload=\"<http><body><img src='http://10.1.1.9/led-green-black-small.png'></body></html>\";\n    \n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":600,"wires":[["e02772df.b7fbd8"]]},{"id":"96d2b90b.a8d688","type":"http in","z":"718e4481.3f4fdc","name":"Relay-Status-2","url":"/status2","method":"get","swaggerDoc":"","x":160,"y":660,"wires":[["2e726bd0.b09d8c"]]},{"id":"a8ce0080.58fc1","type":"http in","z":"718e4481.3f4fdc","name":"Relay-Status-3","url":"/status3","method":"get","swaggerDoc":"","x":160,"y":720,"wires":[["ba8f70e6.375c68"]]},{"id":"97e85cbc.ced3f","type":"http in","z":"718e4481.3f4fdc","name":"Relay-Status-4","url":"/status4","method":"get","swaggerDoc":"","x":160,"y":780,"wires":[["73ff51a0.80bfc8"]]},{"id":"2e726bd0.b09d8c","type":"file in","z":"718e4481.3f4fdc","name":"relay-2-read-file","filename":"/tmp/relay-2.txt","format":"utf8","x":380,"y":660,"wires":[["5c9c80e1.2e807"]]},{"id":"ba8f70e6.375c68","type":"file in","z":"718e4481.3f4fdc","name":"relay-3-read-file","filename":"/tmp/relay-3.txt","format":"utf8","x":380,"y":720,"wires":[["5c9c80e1.2e807"]]},{"id":"73ff51a0.80bfc8","type":"file in","z":"718e4481.3f4fdc","name":"relay-4-read-file","filename":"/tmp/relay-4.txt","format":"utf8","x":380,"y":780,"wires":[["5c9c80e1.2e807"]]}]